main > * {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    width: min(45rem, 100%);
}

#guesses {
    flex-direction: column;
    gap: 2rem;

    & > span {
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;

        background: rgb(26, 26, 26);
        height: 2.4rem;
        width: 100%;

        border-radius: 2rem;

        &.correct {
            background: linear-gradient(
                to bottom right,
                var(--brand-pink) 0%,
                var(--brand-purple) 100%
            );
        }

        &.partial {
            background: linear-gradient(
                to bottom right,
                rgb(255, 135, 90) 0%,
                rgb(255, 196, 69) 100%
            );
        }

        &.incorrect {
            background: linear-gradient(
                to bottom right,
                rgb(185, 74, 72) 0%,
                rgb(157, 38, 29) 100%
            );
        }
    }

    & .search-container {
        position: relative;
        &,
        & > * {
            width: 100%;
        }

        & > input {
            border: none;
            border-radius: 1rem;
            padding: 1rem;
            background: rgb(220, 218, 218);

            &:focus {
                outline: 0.3rem solid var(--brand-pink);
            }
        }

        & > section {
            border-radius: 1rem;
            background-color: rgb(46, 46, 46);

            max-height: 30vh;
            overflow: scroll;

            display: flex;
            flex-direction: column;

            position: absolute;
            top: 3.5rem;
            z-index: 3;

            border: 0.2rem solid var(--brand-gray);

            & button {
                width: 100%;
                padding: 1rem;

                &:not(:first-child) {
                    border-top: 0.2rem solid var(--brand-gray);
                }
            }
        }
    }
}

#bars {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 8fr;
    justify-content: center;
    width: min(40rem, 100%);
    position: relative;

    & * {
        background-color: rgba(255, 255, 255, 20%);
        height: 1rem;
        border-radius: 1rem;
        grid-row: 1;
    }

    & #available {
        background-color: white;
        grid-column-start: 1;
        width: 100%;
    }

    & #played {
        position: absolute;
        background: linear-gradient(
            to bottom right,
            #cc56d0 0%,
            var(--brand-purple) 100%
        );

        grid-column: 1 / -1;

        width: 0%;
        transition: none;

        &.playing {
            transition: width 15s linear;
            width: 100%;
        }
    }
}
