*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
}

:root {
    --brand-purple: #6e06ff;
    --brand-pink: #cc56d0;
    --brand-gray: rgb(98, 98, 98);

    background: linear-gradient(black, rgb(18, 2, 38));
    font-family: sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;

    height: 8rem;
    & span {
        font-size: 6rem;
        text-shadow: 2px 0 var(--brand-purple), -2px 0 var(--brand-purple),
            0 2px var(--brand-purple), 0 -2px var(--brand-purple),
            1px 1px var(--brand-purple), -1px -1px var(--brand-purple),
            1px -1px var(--brand-purple), -1px 1px var(--brand-purple);
    }
}

main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
    flex-grow: 1;
}

button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: white;

    &:hover {
        filter: brightness(80%);
    }
}

:not(#autocomplete) > button {
    --border-radius: 2rem;
    position: relative;
    background: white;
    color: black;
    border-radius: var(--border-radius);

    padding: 0.2rem 1rem;

    &:hover {
        background: rgb(211, 211, 211);
    }

    & svg {
        width: 2.2rem;
    }
}

:not(#autocomplete) > button::before {
    --border-size: 5px;
    box-sizing: content-box;
    content: "";
    z-index: -1;
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom right,
        var(--brand-pink) 0%,
        var(--brand-purple) 100%
    );
    padding: var(--border-size);
    top: calc(var(--border-size) * -1);
    left: calc(var(--border-size) * -1);
    position: absolute;
}
