---
import Layout from "../layouts/Layout.astro"
import "../styles/index.css"
---

<Layout>
    <section id="guesses">
        <span class="incorrect">A bad answer - Someone</span>
        <span class="partial">Killer Queen - Queen</span>
        <span class="correct">Bohemian Rhapsody - Queen</span>
        <span></span>
        <div class="search-container">
            <input type="text" id="search" placeholder="Make a guess here..." />
            <section id="autocomplete"
                ><button data-title="Ruler of Everything" data-artists="3524912"
                    >Ruler of Everything - Tally Hall</button
                ><button data-title="King of Everything" data-artists="7774122"
                    >King of Everything - Dominic Fike</button
                ><button
                    data-title="The Queen Of All Everything"
                    data-artists="35020"
                    >The Queen Of All Everything - OTT</button
                ><button
                    data-title="Ruler of Everything"
                    data-artists="37670866"
                    >Ruler of Everything - Chonny Jash</button
                ><button
                    data-title="Ruler of Everything"
                    data-artists="15539806"
                    >Ruler of Everything - Sheet Music Boss</button
                ><button data-title="Ruler of Everything" data-artists="3616070"
                    >Ruler of Everything - Samuel Ljungblahd</button
                ><button
                    data-title="Ruler of Everything"
                    data-artists="16653822"
                    >Ruler of Everything - MixAndMash</button
                ><button
                    data-title="Ruler Of Everything"
                    data-artists="16653822"
                    >Ruler Of Everything - MixAndMash</button
                ><button
                    data-title="Ruler of Everything"
                    data-artists="30871574"
                    >Ruler of Everything - TheRealSullyG</button
                ><button
                    data-title="Ruler of Everything"
                    data-artists="31171068"
                    >Ruler of Everything - Intelevande</button
                ><button data-title="King of Everything" data-artists="3520382"
                    >King of Everything - Wiz Khalifa</button
                ><button
                    data-title="The Theory of Everything"
                    data-artists="4133018"
                    >The Theory of Everything - Jóhann Jóhannsson</button
                ><button
                    data-title="Everything Reminds Me Of Her"
                    data-artists="3501428"
                    >Everything Reminds Me Of Her - Elliott Smith</button
                ><button
                    data-title="At the Bottom of Everything"
                    data-artists="16906"
                    >At the Bottom of Everything - Bright Eyes</button
                ><button
                    data-title="Everything You Do Is A Balloon"
                    data-artists="3568992"
                    >Everything You Do Is A Balloon - Boards of Canada</button
                ><button data-title="Ruler of My Heart" data-artists="10532"
                    >Ruler of My Heart - Irma Thomas</button
                ><button data-title="Ruler Of My Heart" data-artists="10532"
                    >Ruler Of My Heart - Irma Thomas</button
                ><button
                    data-title="Everything Reminds Me Of You"
                    data-artists="48201581"
                    >Everything Reminds Me Of You - Take Care</button
                ><button
                    data-title="Everything Is Free"
                    data-artists="4752502,4972344"
                    >Everything Is Free - Flock Of Dimes, Sylvan Esso</button
                ><button data-title="Everything" data-artists="8718491"
                    >Everything - J.I the Prince of N.Y</button
                ></section
            >
        </div>
    </section>
    <div>
        <button id="play">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                    d="M320-273v-414q0-17 12-28.5t28-11.5q5 0 10.5 1.5T381-721l326 207q9 6 13.5 15t4.5 19q0 10-4.5 19T707-446L381-239q-5 3-10.5 4.5T360-233q-16 0-28-11.5T320-273Z"
                ></path>
            </svg>
        </button>
        <div id="bars">
            <div></div>
            <div></div>
            <div></div>

            <div id="available"></div>
            <div id="played"></div>
        </div>
        <button id="skip">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
                ><path
                    d="M660-280v-400q0-17 11.5-28.5T700-720q17 0 28.5 11.5T740-680v400q0 17-11.5 28.5T700-240q-17 0-28.5-11.5T660-280Zm-440-35v-330q0-18 12-29t28-11q5 0 11 1t11 5l248 166q9 6 13.5 14.5T548-480q0 10-4.5 18.5T530-447L282-281q-5 4-11 5t-11 1q-16 0-28-11t-12-29Z"
                ></path></svg
            >
        </button>
    </div>
</Layout>

<script src="../scripts/playSong.ts"></script>
<script src="../scripts/search.ts"></script>
